html{
    background-color: #FFC15E;
    color: #1F1300
    max-width: 1500px;
    }


li {
  font-size: 25px;
}

header{
    background-color: #CC5803;
    color: #1F1300;
    height: 20vh;
}

label, p{
    font-size: 25px;
}

input,textarea{
    font-size: 18px;
}

header li{
    font-size: 22px;
}

a{
    color:#1F1300
    }

.popup {
  position: relative;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 760px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: -450%;
  left: 50%;
  margin-left: -80px;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

footer {
    margin-block-start: 6.5rem;
}

